:not(:defined) > * {
  display: none;
}

html, body {
  margin: 0; padding: 0; width: 100%; height: 100%;
  background-color: transparent;
}

model-viewer {
  width: 100%; height: 100vh;
  background-color: transparent; /* Прозрачный фон */
}

/* Стили кнопки AR */
#ar-button {
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  padding: 12px 24px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #4285f4;
  border-radius: 18px;
  border: 1px solid #DADCE0;
  z-index: 999;
}

/* Анимация подсказки */
@keyframes elongate {
  from { transform: translateX(50px); }
  to   { transform: translateX(-50px); }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 175px;
  transform: translateX(-50%);
  display: none;
  animation: elongate 2s infinite ease-in-out alternate;
}

/* Показываем подсказку только когда сессия AR началась */
model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

#ar-prompt img {
  width: 80px;
}

/* Сообщение об ошибке */
#error {
  background-color: #ffffffdd;
  border-radius: 16px;
  padding: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#error.show { display: block; }
