:not(:defined) > * {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

model-viewer {
  width: 100%;
  height: 100vh; /* Растягивает на всю высоту экрана */
  background-color: transparent;
  --poster-color: transparent;
}

#ar-button {
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #ddd;
  color: #4285f4;
  font-family: sans-serif;
  z-index: 999;
}

/* Скрываем кнопку, когда AR уже запущен */
model-viewer[ar-status="session-started"] > #ar-button {
  display: none;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
}

.update-bar {
  background-color: #4285f4;
  width: 0%;
  height: 100%;
  transition: width 0.3s;
}

.hide { display: none; }