const modelViewer = document.querySelector('#burger-model');

// Получаем имя модели из URL
const urlParams = new URLSearchParams(window.location.search);
const modelName = urlParams.get('model');

if (modelName) {
    modelViewer.src = `${modelName}.glb`;
    // Если у тебя будут файлы .usdz для iPhone, убери комментарий ниже:
    // modelViewer.iosSrc = `${modelName}.usdz`; 
    modelViewer.poster = `${modelName}.webp`;
}

// Полоска загрузки
const onProgress = (event) => {
  const progressBar = event.target.querySelector('.progress-bar');
  const updatingBar = event.target.querySelector('.update-bar');
  updatingBar.style.width = `${event.detail.totalProgress * 100}%`;
  if (event.detail.totalProgress === 1) {
    progressBar.classList.add('hide');
  } else {
    progressBar.classList.remove('hide');
  }
};
modelViewer.addEventListener('progress', onProgress);